body {
    background-image: url("./img/httpssteamusercontentaakamaihdnetugc1012692322314105313955A2B415101ACB6FEA3D1CAB25A639B82B25495.jpg"); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em 0;
    text-align: center;
    width: 100%; 
    z-index: 100; 

}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}.campo-redondo {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 3px solid red; /* Borda vermelha */
    margin: 20px;
    text-align: center;
    line-height: 150px; 
    cursor: pointer; 
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 1em 0;

    bottom: 0;
    width: 100%;
}
#anciões {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}.ancião {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    text-align: center;
}.ancião img {
    max-width: 100%;
    height: auto;
}