/* Estilos gerais da página */
body {
    font-family: sans-serif;
    margin: 0;
    background-image: url("./img/httpssteamusercontentaakamaihdnetugc1012692322314105313955A2B415101ACB6FEA3D1CAB25A639B82B25495.jpg"); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em 0;
    text-align: center;
    width: 100%; 
    z-index: 100; 
}

main {
    position: relative;
    margin-top: 3em; 
    margin-bottom: 2em;
  }

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}.campo-redondo {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 3px solid red; /* Borda vermelha */
    margin: 20px;
    text-align: center;
    line-height: 150px; 
    cursor: pointer; 
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 1em 0;

    bottom: 0;
    width: 100%;
}

/* Estilos para o contêiner do select e botões */
#personagem-select-ancioes {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para o select */
#select-ancião-ancioes {
    margin: 0 10px;
    padding: 5px;
}

/* Estilos para os botões */
#botao-voltar-ancioes, #botao-avancar-ancioes {
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Estilos para o contêiner da imagem e história */
#personagem-info-ancioes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Estilos para a imagem */
#ancião-imagem {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para a história */
#ancião-historia {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 500px;
}

#historia-imagem {
    max-width: 100%; 
    max-height: 100%;
    object-fit: cover; 
  }.selecao {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 10; 
  }