body {
  background-image: url("img/fundokaiser.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#area-letras {
  padding-top: 0px;
  padding-bottom: 100px; 
  width: auto; 
  height: auto; 
}

#carta {
  width: 1000px; 
  height: 40px; 
  position: relative; 
}

#carta img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

#containerA, #containerB, #containerC, #containerD  {
  width: 1000px; 
  height: 20px; 
  border: 0px solid black;
  font-family: monospace; 
  white-space: pre; 
  position: relative;
  margin-bottom: 10px; 
  display: flex;    
  align-items: center; 
}

#containerE, #containerF {

  margin-left: 39px;
  width: 1000px; 
  height: 20px; 
  border: 0px solid black;
  font-family: monospace; 
  white-space: pre; 
  position: relative;
  margin-bottom: 10px;
  margin-left: 60px;
  top: 45px;
  display: flex;    
  align-items: center; 

}



#containerF {

  top: 35px;
  
  }


#containerB, #containerC, #containerD {
  margin-left: 530px; 
  top: 55px;
}


#containerA{

  top: -20px;
}

#containerD{

  top: 10px;

}



#containerC {

  top: 130px;


}

#containerD {

top: 200px;


}



 /*pino*/

#containerA img, #containerB img, #containerC img, #containerD img, #containerE img, #containerF img, #containerG img {
  width: 80px; 
  height: 105px;
}

#letraA, #letraB, #letraC, #letraD, #letraE, #letraF, #letraG {
  position: absolute;
  left: 0px;
  top: 0px;
  transition: left 0.5s ease-in-out;
}

#botoess

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

#botoesA,#botoesB,#botoesC,#botoesD {

  margin-left: 320px; 


}

#botoesE,#botoesF {

  

 
}

#area-letras {
  position: relative; 

}

#botoesE button, #botoesF button {
  position: absolute; 
}

/* Botões E */
#botoesE .avancar {
  top: 150px; /* Ajuste a posição vertical do botão "+" */
  left: 450px; /* Ajuste a posição horizontal do botão "+" */
}

#botoesE .voltar {
  top: 180px; /* Ajuste a posição vertical do botão "-" */
  left: 400px; /* Ajuste a posição horizontal do botão "-" */
}

/* Botões F */
#botoesF .avancar {
  top: 260px; /* Ajuste a posição vertical do botão "+" */
  left: 450px; /* Ajuste a posição horizontal do botão "+" */
}

#botoesF .voltar {
  top: 290px; /* Ajuste a posição vertical do botão "-" */
  left: 400px; /* Ajuste a posição horizontal do botão "-" */
}





